:root {
    --main-dark: #293241;
    --main-blue: #3d5a80;
    --main-red: #ee6c4d;
    --light-blue: #98c1d9;
    --sky-blue: #e0fbfc;
    --main-yellow: #fcbf49;
  }

/* Base reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
  }

.calculator-container{
    width: 100%;
    height: 100vh;
    font-size: 0;
    background: var(--main-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: var(--main-blue);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    height: 60px;
    width: 60px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    font-size: 2rem;
    margin: 2px;
    border: 0;
}

.del {
  background-color: var(--main-red);
  color: white;
}

.equal {
  background-color: var(--main-yellow);
}

form .calculator-display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .calculator-display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  cursor: default;
}